<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http:ww/www.w3.org/1999/xhtml" lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SAR | Search</title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Montserrat&display=swap" rel="stylesheet"

	<!-- Custom Styling -->
	<link th:href="@{/styles/reset.css}" rel="stylesheet">
	<link th:href="@{/styles/color-palettes.css}" rel="stylesheet">
	<link th:href="@{/styles/search.css}" rel="stylesheet">

	<!-- jQuery 3.6.0 via CDN -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<!-- Custom Scripts -->
	<script th:src="@{/scripts/bgCanvasAnim.js}"></script> 
	<script th:src="@{/scripts/search.js}"></script> 

    </head>
    <body>
	<header>
	    <nav>
		<a href="./home">Home</a>
		<a href="#">Search</a>
		<a href="./review">Review</a>
	    </nav>
	    <div id="search-bar">
		<input type="text" placeholder="X Requests Remaining"/>
		<button>Search</button>
	    </div>
	</header>
	<main>
	    <div id="search-results">
	    </div>
	    <div id="search-errors">
	    </div>
	</main>
	<canvas></canvas>
    </body>
</html>
