h1 {
    font-size: 4em;
    display: inline;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    row-gap: 1em;
}

@media (max-width: 600px) {
    #saved-articles, #article-reviews-list {
	grid-template-columns: repeat(auto-fill, 254px);
    }
}
@media (min-width: 600px) {
    #saved-articles {
	grid-template-columns: repeat(auto-fill, 30em);
    }
    #article-reviews-list {
	grid-template-columns: repeat(auto-fill, 40em);
    }
}

#saved-articles, #article-reviews-list {
    display: grid;
    justify-content: center;
    row-gap: 2em;
    column-gap: 2em;
}

#saved-articles > div, .article-review-item {
    border: 1px solid var(--monochrome-7);
    border-radius: 1em 1em 0 0;
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 2em;
    grid-template-columns: 1fr 1fr;
    background-color: var(--monochrome-4);
    column-gap: 0.5em;
    row-gap: 0.5em;
}

#saved-articles > div h2, #saved-articles > div h3,
.article-review-item h2, .article-review-item > div:nth-of-type(1),
.article-review-item > p,
#saved-articles > div button:nth-last-child(1) {
    grid-column: 1 / 3;
    overflow: auto;
}

#saved-articles > div a {
    padding-top: 0.3em;
}

#article-reviews-header {
    margin-bottom: 1em;
}

form {
    display: grid;
    grid-template-rows: 3fr 1fr;
    row-gap: 1em;
    margin: auto;
    margin-bottom: 1em;
    min-width: 254px;
    width: 60%;
    max-width: 40em; 
}

main > div:nth-last-of-type(1) {
    margin-bottom: 2em;
}

#article-reviews-creation-errors, #article-reviews-edit-errors {
    color: var(--error-color);
}