h1 {
    font-size: 4em;
    display: inline;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 375px) {
    #search-bar button {
	margin-top: 1em;
    }
}

@media (min-width: 375px) {
    #search-bar button {
	margin-left: 1em;
    }
}